:root {
  /* color variables */
  --white: #ffffff;
  --gray-60: #eaedef;
  --gray-70: #dadde0;
  --gray-80: #9e9e9e;
  --gray-90: #828c94;
  --gray-100: #757575;
  --gray-300: #424242;
  --gray-400: #2f3438;
  --black: #000;
  --blue-400: #35c5f0;
  --red-200: #f77;
  /* z-index variables */
  --z-header: 50;
  /* layout variables */
  --w: 1256px;
  --p-side: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: baseline;
  color: #000;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
